{{#unless loggedInAs}}
<div class="container">
    <div class="row mt-3 segment mx-auto" style="max-width: 500px">
        <form class="col-md-12 mt-2 text-center mx-auto" action="/login" method="GET">
            <button class="btn btn-lg btn-nat" type="submit">Authorize your osu! account</button>
        </form>
        <div class="col-md-12 my-2">
            <hr>
        </div>
        <div>
        <p class="mx-3">"Authorizing" will identify you through your osu! account.</p>
        <p class="mx-3">You can do any of these after authorization:</p>
        <ul>
            <li>Apply to join the Beatmap Nominators</li>
            <li>Report members of the BN/NAT</li>
            <li>View detailed BN/NAT listings, beatmap vetoes, and beatmap quality assurance info</li>
        </ul>
        </div>
    </div>
</div>
{{/unless}}

<section class="row segment segment-image mx-auto" style="max-width: 900px">
    <div class="col">

        <h4>Mod score calculator: 
            <small id="totalScore" class="ml-1"></small>
            <small id="calcWait" class="ml-2" style="font-size: 10pt;"></small>
        </h4>

        <div class="form-inline mb-3 justify-content-around">
            <div class="form-group">
                <label class="mx-1" data-toggle="tooltip" data-placement="top" title="osu!"/>
                    <input type="radio" class="osu-radio hide-default" name="mode" value="osu" checked/>
                    <i class="fas fa-circle fa-lg"></i>
                </label>
                <label class="mx-1" data-toggle="tooltip" data-placement="top" title="osu!taiko">
                    <input type="radio" class="taiko-radio hide-default" name="mode" value="taiko"/>
                    <i class="fas fa-drum fa-lg"></i>
                </label>
                <label class="mx-1" data-toggle="tooltip" data-placement="top" title="osu!catch">
                    <input type="radio" class="catch-radio hide-default" name="mode" value="catch"/>
                    <i class="fas fa-apple-alt fa-lg"></i>
                </label>
                <label class="mx-1" data-toggle="tooltip" data-placement="top" title="osu!mania">
                    <input type="radio" class="mania-radio hide-default" name="mode" value="mania"/>
                    <i class="fas fa-stream fa-lg"></i>
                </label>
            </div>

            <div class="input-group input-group-sm">
                <input class="form-control" type="text" id="userId" placeholder="username / id">
                <div class="input-group-append">
                    <button
                        class="btn btn-sm btn-nat"
                        id="calculateScore"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Automatically detect your mod score based on your modding history"
                    >
                        Auto-calculate
                    </button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group mb-3">
                <input class="modCount form-control" id="modCount1" type="number" placeholder="# mods in month 1...">
            </div>
            <div class="input-group mb-3">
                <input class="modCount form-control" id="modCount2" type="number" placeholder="# mods in month 2...">
            </div>
            <div class="input-group">
                <input class="modCount form-control" id="modCount3" type="number" placeholder="# mods in month 3...">
            </div>
        </div>

        <ul style="list-style-type: disc;">
            <li class="small">You can either write your username and auto-calculate your score, or manually write your mods count in the boxes above</li>
            <li class="small">A "mod" is counted for each beatmapset through which you have received at least one Kudosu ("thumbs up" on discussion page)</li>
            <li class="small">Scores 0 or higher are passing</li>
            <li class="small">Selecting a different game mode above may impact your mod score (osu! has stricter requirements than taiko/catch/mania)</li>
        </ul>
    </div>
</section>

<section class="segment segment-image mx-auto" style="max-width: 900px">
    <div class="row mb-3">
        <h4 class="mx-auto">Current BNs</h4>
    </div>
    <div class="row">
        {{#each allUsersByMode}}
        <table class="table table-sm table-dark table-hover col-6 col-md-3">
            <thead>
                <td>{{this._id}}</td>
            </thead>
            <tbody>
                {{#each this.users}}
                <tr><td style="
                {{#if this.probation}}
                    border-left: 3px solid var(--probation);
                {{else}} 
                    {{#ifCond this.group 'nat'}}
                        border-left: 3px solid var(--nat);
                    {{else}}
                        border-left: 3px solid var(--bn);
                    {{/ifCond}}
                {{/if}}"
                ><a href="https://osu.ppy.sh/users/{{this.osuId}}" target="_blank">{{this.username}}</a></td></tr>
                {{/each}}
            </tbody>
        </table>
        {{/each}}
    </div>
</section>

<a href="https://mappersguild.com/">
    <button id="mgsite" class="btn btn-sm btn-nat btn-mg" style="
        position: fixed; 
        z-index: 1060; 
        bottom: 20px; 
        right: 20px;"
    >visit Mappers' Guild
    </button>
</a>