<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../css/css.css">
    <link rel="icon" type="image/png" href="../images/qatlogo.png">
</head>

<body class="text-light">
    <div class="container" style="margin-top:7%">
        <div class="text-center mb-4">
            <img src="../images/qatlogo.png" style="border-radius: 100%">
        </div>
        {{#unless loggedInAs}}
        <div class="row mt-3 segment mx-auto" style="max-width: 500px">
            <form class="col-md-12 mt-2 text-center mx-auto" action="/login" method="GET">
                <button class="btn btn-lg btn-nat" type="submit">Verify your osu! account to continue</button>
            </form>
            <div class="col-md-12 my-2">
                <hr>
            </div>
            <div>
            <p>This website requires account verification for:</p>
            <ul style="list-style-type: none">
                <li>Beatmap Nominator Applications</li>
                <li>Reporting members of the BN/NAT</li>
                <li>Veto management (BN/NAT only)</li>
                <li>Beatmap Nominator Evaluations (NAT only)</li>
            </ul>
            </div>
        </div>
        {{/unless}}
        {{#if loggedInAs}}
        <div class="text-center mt-3 segment mx-auto" style="max-width: 600px">
            <div class="col-md-12">
                <div class="row">
                    {{#if isBn}}
                    <h3 class="col-md-6"><a href="/bnapps" class="lead">BN Applications</a></h3>
                    <h3 class="col-md-6"><a href="/reports" class="lead">Reports</a></h3>
                    {{else}}
                    <h3 class="col-md-4"><a href="/bnapps" class="lead">BN Applications</a></h3>
                    <h3 class="col-md-4"><a href="/reports" class="lead">Reports</a></h3>
                    <h3 class="col-md-4"><a href="/users" class="lead">BN/NAT Listing</a></h3>
                    {{/if}}
                </div>
                {{#if isBnOrNat}}
                <div class="row">
                    {{#if isBn}}
                    <h3 class="col-md-6"><a href="/vetoes" class="lead">Vetoes</a></h3>
                    <h3 class="col-md-6"><a href="/users" class="lead">BN/NAT Listing</a></h3>
                    {{else}}
                    <h3 class="col-md-4"><a href="/appeval" class="lead">BN App Evals</a></h3>
                    <h3 class="col-md-4"><a href="/bneval" class="lead">Current BN Evals</a></h3>
                    <h3 class="col-md-4"><a href="/evalarchive" class="lead">Eval Archive</a></h3>
                    {{/if}}
                </div>
                {{/if}}
                {{#if isBnOrNat}}
                    {{#unless isBn}}
                        <div class="row">
                            <h3 class="col-md-4"><a href="/managetest" class="lead">Test Questions</a></h3>
                            <h3 class="col-md-4"><a href="/testresults" class="lead">Test Results</a></h3>
                            <h3 class="col-md-4"><a href="/managereports" class="lead">Manage Reports</a></h3>
                        </div>
                        <div class="row">
                            <h3 class="col-md-4"><a href="/vetoes" class="lead">Vetoes</a></h3>
                            <h3 class="col-md-4"><a href="/rcvote" class="lead">RC Vote</a></h3>
                            <h3 class="col-md-4"><a href="/datacollection" class="lead">Data Collection</a></h3>
                        </div>
                    {{/unless}}
                {{/if}}
            </div>
        </div>
        {{/if}}
    </div>

    <section class="row segment segment-image mx-auto" style="max-width: 900px">
        <p>The QAT is gone and has been replaced by the new <a href="https://osu.ppy.sh/groups/7">Nomination Assessment Team</a></p>
        <ul>
            <li>The <a href="https://osu.ppy.sh/groups/28">Beatmap Nominators</a> (BN) are responsible for disqualifying beatmaps and mediating vetoes from now on, in addition to their task of pushing beatmaps towards the ranked category.</li>
            <li>The <a href="https://osu.ppy.sh/groups/7">Nomination Assessment Team</a> (NAT) are the moderators of the Beatmap Nominators. They are responsible for BN Applications, creating tests for the applicants and for evaluating the current members. They will still have their moderation privileges although it is not their primary focus. </li>
            <li>Beatmaps that have been vetoed will be mediated by a random jury made up of members of the BN and NAT.</li>
            <li>The Global Moderation Team (GMT) will now handle beatmap moderation, and as such will also have access to the disqualify button. The GMT will only disqualify beatmaps in cases where they contain inappropriate content.</li>
            <li>A new usergroup has been added for <a href="https://osu.ppy.sh/groups/32">probationary Beatmap Nominators</a>.</li>
        </ul>
    </section>
    <section class="segment segment-image mx-auto" style="max-width: 900px">
        <div class="row">
            <h4 class="mx-auto">Current BNs</h4>
        </div>
        <div class="row mx-auto">
            {{#each allUsersByMode}}
            <table class="table table-sm table-dark table-hover col-3">
                <thead>
                    <td>{{this._id}}</td>
                </thead>
                <tbody>
                    {{#each this.users}}
                    <tr><td style="
                    {{#if this.probation}}
                        border-left: 3px solid var(--probation);
                    {{else}} 
                        {{#ifCond this.group 'nat'}}
                            border-left: 3px solid var(--nat);
                        {{else}}
                            border-left: 3px solid var(--bn);
                        {{/ifCond}}
                    {{/if}}"
                    ><a href="https://osu.ppy.sh/users/{{this.osuId}}" target="_blank">{{this.username}}</a></td></tr>
                    {{/each}}
                </tbody>
            </table>
            {{/each}}
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>