<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../css/css.css">
    <link rel="icon" type="image/png" href="../images/qatlogo.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body class="text-light px-0">
    <nav id="top" class="navbar navbar-expand-md navbar-qat">
        <a class="navbar-brand" href="/qat">
            <img src="../images/qatlogo.png" width="48" height="48" style="border-radius: 32px 32px 32px 32px; filter: drop-shadow(1px 1px 1px #000000);" alt="">
        </a>
        
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item test {{#if isBnApp}}selected{{/if}}">
                    <a class="nav-link text-shadow" href="/qat/bnapps">BN Application</a>
                </li>
                <li class="nav-item {{#if isReports}}selected{{/if}}">
                    <a class="nav-link text-shadow" href="/qat/reports">Report a BN/QAT</a>
                </li>
                <li class="nav-item {{#if isUsers}}selected{{/if}}">
                    <a class="nav-link text-shadow" href="/qat/users">Users</a>
                </li>
                {{#if isBnOrQat}}
                <li class="nav-item {{#if isVetoes}}selected{{/if}}">
                    <a class="nav-link text-shadow" href="/qat/vetoes">Vetoes</a>
                </li>
                <li class="nav-item {{#if isBnScore}}selected{{/if}}">
                    <a class="nav-link text-shadow" href="/qat/bnscore">BN Score</a>
                </li>
                {{/if}}
                {{#if isQat}}
                <li class="nav-item dropdown {{#if isEval}}selected{{/if}}">
                    <a class="nav-link text-shadow dropdown-toggle" href="#" data-toggle="dropdown">
                        Evaluations
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/qat/appeval">Applications</a>
                        <a class="dropdown-item" href="/qat/bneval">Current BNs</a>
                        <a class="dropdown-item" href="/qat/datacollection">Data Collection</a>
                        <a class="dropdown-item" href="/qat/evalarchive">Archive</a>
                    </div>
                </li>
                <li class="nav-item {{#if isManageReports}}selected{{/if}}">
                    <a class="nav-link text-shadow" href="/qat/managereports">Manage Reports</a>
                </li>
                <li class="nav-item {{#if isManageTest}}selected{{/if}}">
                    <a class="nav-link text-shadow" href="/qat/managetest">Manage RC Test</a>
                </li>
                {{/if}}
            </ul>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    
    <div id="loading">
        <img id="load" src="../images/qatlogo.png">
    </div>

    <div id="main" class="container">
        <div>
            <img class="my-3 mx-auto d-block img-fluid" src="../images/qatlogo.png" width="100" height="100" style="border-radius: 100px 100px 100px 100px">
            <h1 class="text-center">{{title}}</h1>
        </div>

        {{{body}}}
    </div>

    <div>
        <a href="#top"><img class="my-1 mx-auto d-block img-fluid" src="../images/qatlogo.png" width="50" height="50" style="border-radius: 100px 100px 100px 100px"></a>
        <p class="text-center">{{title}}</p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    {{#if script}}
    <script src="{{{script}}}"></script>
    {{/if}}
</body>

</html>